/* Black background */
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Centered message */
.order-message p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}